# Analise exploratoria top 10 catalogo Netflix

Analisaremos a seguir uma base de dados do catalogo NetFlix
com intuito de entender quais produtos do seu catalogo alcançaram o top 10 mais assistidos da plataforma
para fins de estudos e aprendizado da biblioteca "pandas".

In [1]:
# importando a biblioteca pandas apos sua instalacao

import pandas as pd

In [24]:
df_netflix = pd.read_csv("netflix_daily_ top_10.csv")

In [80]:
# Visualizando as primeiras 5 linhas do data frame ou informa dentro o parenteses o numero de linhas a mostrar ()

df_netflix.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [ ]:
# Visualizando as primeiras 5 linhas do data frame ou informa dentro o parenteses o numero de linhas a mostrar (50)

df_netflix.head(50)

In [ ]:
# Mostras as 5 ulimtas linhas do data frame

df_netflix.tail

In [ ]:
# Usando display para mostrar o DataFrame mostra as 5 primeiras e as 5 ultimas
# Informa quantidade de linhas e colunas

display(df_netflix)

In [45]:
# Info traz informacoes do data frame o tipo de dado
#  tipos de valores, quantidade de colunas e numero de colunas

df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   object
 3   Last Week Rank        7100 non-null   object
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     4599 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(3), object(7)
memory usage: 554.8+ KB

In [57]:
# verifica se uma coluna especifica de um dataframe e verifica dados null (nulos) presentes
# .isnull() mostra os nulos
# .isnull().sum() mostra a soma dos nulos

df_netflix["Netflix Exclusive"].isnull().sum()

np.int64(2501)

In [59]:
# Mostra a quantidade de valores que estao preenchidos com valor
# No caso 4599 com valor preenchido = Yes

df_netflix["Netflix Exclusive"].value_counts()

Netflix Exclusive
Yes    4599
Name: count, dtype: int64

In [ ]:
# Mostra a quantidade de valores que estao preenchidos com valor
# No caso 4599 com valor preenchido = Yes

df_netflix["Title"].value_counts()

In [ ]:
# O comando .describe() em Pandas é utilizado para gerar estatísticas descritivas de um DataFrame ou de uma série. Ele fornece um resumo estatístico que inclui informações como:

# Contagem (count): Número de valores não nulos.
# Média (mean): Média dos valores.
# Desvio padrão (std): Desvio padrão dos valores.
# Mínimo (min): Valor mínimo.
# Quartis (25%, 50% (mediana), 75%): Valores nos percentis 25%, 50% e 75%.
# Máximo (max): Valor máximo.

df_netflix.describe()

In [ ]:
# O comando .plot() em Pandas é usado para criar gráficos a partir de dados em um DataFrame ou Série. 
# Ele é uma interface de alto nível para a biblioteca de visualização Matplotlib, permitindo criar diversos tipos de gráficos de forma simples e rápida.
# instala a biblioteca como o comando no terminal: pip install Matplotlib

df_netflix.plot(kind='box', figsize=(16,6), subplots=True);

In [ ]:
def aplica_no(exclusive):
    if exclusive != "Yes":
        return "No"
    return exclusive

In [ ]:
# Carregar o DataFrame a partir de um arquivo .csv
df_netflix = pd.read_csv('netflix_daily_ top_10.csv')

# Modificar os valores da coluna 'Netflix Exclive' onde o valor 
df_netflix.loc[df_netflix["Netflix Exclusive"] == "", "Netflix Exclusive"] = "Yes"

# Opcional: Salvar o DataFrame de volta no arquivo .csv
df_netflix.to_csv('netflix_daily_top_etl.csv', index=False)

print(df_netflix)